/* ----------- start ---[Main Container]---------------- */
.full-container {
  background: rgb(74, 192, 255);
  max-width: 840px;
  position: relative;
  height: 500px;
  border-radius: 25px;
  padding: 15px 8px 5px 0;
}

.light-bg {
  background: linear-gradient(
    to right,
    rgb(145, 217, 255),
    rgba(255, 255, 255, 0)
  );
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  border-radius: 25px;
  z-index: 2;
  height: 500px;
  max-width: 840px;
}

.max-with {
  max-width: 1371px;
}
/* ------------ end ---[Main Container]---------------- */

/* ----------- start ---[Swiper Section]---------------- */
.swipere {
  position: absolute;
  left: 0;
  width: 75%;
}
/* ------------ end ---[Swiper Section]---------------- */

/* ----------- start ---[Text Content]---------------- */
.text-container {
  color: #ffffff;
  max-width: 50px;
  font-size: 40px;
  font-weight: bold;
  margin-right: 30px;
}
/* ------------ end ---[Text Content]---------------- */

/* ----------- start ---[SVG Styling]---------------- */
.svg {
  position: absolute;
  right: 0;
  bottom: 0;
}
/* ------------ end ---[SVG Styling]---------------- */

/* ----------- start ---[Scroll Container]---------------- */
.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #005c6f19 transparent;
  padding-bottom: 15px;
}

.scroll-container::-webkit-scrollbar {
  height: 4px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #eb0303;
  border-radius: 3px;
}
/* ------------ end ---[Scroll Container]---------------- */

/* ----------- start ---[Responsive Styles]---------------- */
.responsive-m {
  margin: 0 10px 0 10px;
}

@media (max-width: 1525px) {
  .text-container {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .swipere {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 75%;
  }
}

@media (max-width: 476px) {
  .full-container {
    height: 440px;
    padding: 10px;
    border-radius: 25px;
    max-width: 100%;
  }

  .swipere {
    left: 0;
    bottom: 5px;
    width: 100%;
  }

  .light-bg {
    left: 0;
    width: 20%;
    height: 440px;
    border-radius: 25px !important;
  }

  .text-container {
    font-size: 24px;
    max-width: 100%;
    text-align: center;
    justify-content: center;
  }
}
/* ------------ end ---[Responsive Styles]---------------- */
