        <section class="container-fluid m-2 mt-4 mx-auto">
          <div class="col-12 comment-wrapper mx-auto">
            <div class="calendar p-3">
              <div
                class="calendar-header d-flex justify-content-center align-items-center gap-2 my-3"
              >
                <div class="d-flex gap-2">
                  <h2 class="text-muted title">شروع:</h2>
                  <h2>دوشنبه</h2>
                  <span class="col-line-sm"></span>
                  <h2>۱۴ مهر ۱۴۰۳</h2>
                  <span class="col-line-sm"></span>
                  <h2>ساعت ۲۱</h2>
                </div>
                <div class="d-flex gap-2 mt-2">
                  <h2 class="text-muted title">پایان :</h2>
                  <h2>دوشنبه</h2>
                  <span class="col-line-sm"></span>
                  <h2>۱۴ مهر ۱۴۰۳</h2>
                  <span class="col-line-sm"></span>
                  <h2>ساعت ۲۱</h2>
                </div>
              </div>
              <div class="calendar-grid">
                <div class="day head">ش</div>
                <div class="day head">ی</div>
                <div class="day head">د</div>
                <div class="day head">س</div>
                <div class="day head">ج</div>
                <div class="day head">پ</div>
                <div class="day head">ج</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
                <div class="day">0</div>
              </div>
            </div>
          </div>
        </section>