<div class="faq-card card-custom p-1">
  <h5 class="section-title mb-3 mt-3">سوالات متداول</h5>
  <div class="accordion" id="faqAccordion">
    <div class="accordion-item" *ngFor="let faq of faqs; let i = index">
      <h2 class="accordion-header" [id]="'heading' + i">
        <button
          class="accordion-button d-flex justify-content-between"
          [ngClass]="{'collapsed': openIndex !== i}"
          type="button"
          (click)="toggleAccordion(i)"
        >
        <div>
          <img src="../../../../assets/svg/faq-card/questionmark.svg" alt="">
          {{ faq.question }}
        </div>
          <span class="custom-arrow" [ngClass]="{'rotated': openIndex === i}"><svg xmlns="http://www.w3.org/2000/svg" width="7.253" height="12.005" viewBox="0 0 7.253 12.005">
  <path id="Path_152" data-name="Path 152" d="M7663.33,2539.964l-4.235,4.235,2.471,2.47,1.765,1.764" transform="translate(-7657.845 -2538.196)" fill="none" stroke="#cecece" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"/>
</svg>
</span>
        </button>
      </h2>
      <div
        [id]="'collapse' + i"
        class="accordion-collapse collapse"
        [ngClass]="{'show': openIndex === i}"
      >
        <div class="accordion-body">
          {{ faq.answer }}
        </div>
      </div>
    </div>
  </div>
</div>
