<div class="landing-pg">

  <app-landing-header></app-landing-header>
  <app-landing-search></app-landing-search>
  <app-mini-card></app-mini-card>

  <div class="section-header">
    <div class="header-title">
      <img src="../../../assets/svg/landing-page/uni-hat.svg" alt="" />
      <p class="m-0">جدیدترین دوره‌ها</p>
    </div>
    <button class="white-custom-btn">مشاهده همه</button>
  </div>

  <app-landing-course-card></app-landing-course-card>

  <div class="section-header">
    <div class="header-title">
      <img src="../../../assets/svg/landing-page/medal.svg" alt="" />

      <p class="m-0">چرا زنجان ایونت؟</p>
    </div>
  </div>

  <app-landing-event-card></app-landing-event-card>
  <app-landing-ads></app-landing-ads>

  <div class="section-header">
    <div class="header-title">
      <img src="../../../assets/svg/landing-page/certificate.svg" alt="" />
      <p class="m-0">برگذار کنندگان</p>
    </div>

    <button class="white-custom-btn">مشاهده همه</button>
  </div>

  <app-landing-sponser-card></app-landing-sponser-card>

  <div class="section-header ">
    <div class="header-title">
      <img src="../../../assets/svg/landing-page/pen.svg" alt="" />
      <p class="m-0">نظرات شرکت کنندگان</p>
    </div>
  </div>

  <app-landing-comment-card></app-landing-comment-card>

  <div class="section-header mt-0 pt-4">
    <div class="header-title">
      <img src="../../../assets/svg/landing-page/inbox.svg" alt="" />
      <p class="m-0">دوره های برگزار شده</p>
    </div>

    <button class="white-custom-btn">مشاهده همه</button>
  </div>

  <app-landing-course-card></app-landing-course-card>
  <app-landing-ads></app-landing-ads>

</div>
