@import '../../variables';

.custom-box {
  padding: 10px 30px;
  border: 1px solid #dcdcdc;
  font-size: $font-size-small;
}

.custom-box p {
  color: #808080;
}

/* ------------ start ---[Image Placeholder]------------ */

.image-placeholder {
  background-color: #e9ecef;
  height: 175px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 802px;
  margin: auto;
}

/* ------------ start ---[Responsive Adjustments]------------ */

@media (max-width: 768px) {
  .custom-box {
    padding: 15px 20px;
    font-size: 16px;
  }

  .image-placeholder {
    height: 150px;
  }

  h4 {
    font-size: 18px;
  }

  p {
    font-size: 15px;
    line-height: 1.6;
  }
}

/* ------------ start ---[Mobile Adjustments]------------ */

@media (max-width: 480px) {
  .custom-box {
    padding: 10px 15px;
    font-size: 15px;
  }

  .image-placeholder {
    height: 130px;
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }
}

/* ------------ end ---[Mobile Adjustments]------------ */
