.custom-box {
  background: white;
  padding: 10px 30px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #dcdcdc;
  font-size: 17px;
}

.custom-box p {
  color: #808080;
}

.image-placeholder {
  background-color: #e9ecef;
  height: 175px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  max-width: 802px;
  margin: auto;
}

@media (max-width: 768px) {
  .custom-box {
    padding: 15px 20px; 
    font-size: 16px; 
  }

  .image-placeholder {
    height: 150px; 
  }

  h4 {
    font-size: 18px; 
  }

  p {
    font-size: 15px; 
    line-height: 1.6; 
  }
}

@media (max-width: 480px) {
  .custom-box {
    padding: 10px 15px; 
    font-size: 15px;
  }

  .image-placeholder {
    height: 130px; 
  }

  h4 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }
}
