.schedule-card {
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  padding: 10px 25px 20px 25px !important;
  margin-bottom: 20px;
}
.text-container {
  font-size: 17px;
}
.section-title {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}
th {
  color: #808080;
  font-weight: 400;
}
tr {
  font-size: 17px;
  font-weight: 300;
}

.table th,
.table td {
  padding: 0.5rem;
}
.small-col {
  width: 22%;
}

.table tbody tr {
  border-bottom: 2px solid rgba(128, 128, 128, 0.212);
}
.table tbody tr:first-child {
  border-top: 2px solid rgba(128, 128, 128, 0.212);
}

.table tbody tr:last-child {
  border-bottom: white;
}

.white-buttonn {
  background: #ffffff;
  border-radius: 25px;
  border: none;
  color: #808080;
  cursor: pointer;
  border: 1px solid #808080;
  font-size: 17px;
  padding: 0;
  max-height: 31px;
}

.white-buttonn:hover {
  background: #dadada;
}

.cyan-button {
  background: #5FC8FF;
  border-radius: 25px;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 1px solid gray;
  font-size: 17px;
  padding: 0;
  max-height: 31px;
}

.cyan-button:hover {
  background: #dadada;
}


@media (max-width: 768px) {
  .schedule-card {
    padding: 15px !important;
  }


  .table {
    font-size: 15px !important;
  }

  .table th,
  .table td {
    padding: 0.3rem !important;
  }

  .small-col {
    width: 28% !important;
  }
  .cyan-button{
    font-size: 16px !important;
  }
  .white-buttonn {
    font-size: 16px !important;
  }

}

@media (max-width: 480px) {
  .schedule-card {
    padding: 10px !important;
  }

  .section-title {
    font-size: 16px !important;
  }

  .table {
    font-size: 14px !important;
  }

  .table th,
  .table td {
    padding: 0.2rem !important;
  }

  .small-col {
    width: 30% !important;
  }

  .cyan-button{
    font-size: 15px !important;
  }
  .white-buttonn {
    font-size: 15px !important;
  }
}