<div class="schedule-card">
  <div class="d-flex flex-wrap mt-3 gap-3 mb-2 align-items-center ">
    <h5 class="section-title m-0 ">برنامه دوره</h5>
    <div class="d-flex align-items-center gap-3">
      <button class="cyan-button px-3">جلسه اول </button>
      <button class="white-buttonn px-3"> جلسه دوم</button>
      <button class="white-buttonn px-3"> جلسه سوم</button>
    </div>
  </div>
  <table class="table text-center p-1" dir="rtl">
    <thead>
      <tr>
        <th class="text-end">عنوان</th>
        <th class="small-col">ساعت شروع</th>
        <th class="small-col">ساعت پایان</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-end">خوش آمد گویی</td>
        <td class="small-col">۸:۰۰</td>
        <td class="small-col">۹:۰۰</td>
      </tr>
      <tr>
        <td class="text-end">مقدمه</td>
        <td class="small-col">۸:۰۰</td>
        <td class="small-col">۹:۰۰</td>
      </tr>
      <tr>
        <td class="text-end">توضیحات ابتدایی</td>
        <td class="small-col">۸:۰۰</td>
        <td class="small-col">۹:۰۰</td>
      </tr>
    </tbody>
  </table>
</div>
