@import "../../variables";

/* ----------- start ---[course-display-card]---------------- */
.course-display-card {
  border-radius: 30px;
  background: white;
  padding: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
/* ------------ end ---[course-display-card]---------------- */

/* ----------- start ---[course-display-content]---------------- */
.course-display-title {
  font-weight: bold;
  font-size: $font-size-medium;
  max-width: 90%;
  white-space: normal;
}

.course-display-text {
  color: #808080;
  font-size: 18px;
}

.course-display-container {
  max-width: 365px !important;
}
/* ------------ end ---[course-display-content]---------------- */

/* ----------- start ---[course-display-footer]---------------- */
.course-display-footer {
  border: 1px solid #c2c2c2;
  border-radius: 31px;
  margin-bottom: 2px;
  display: flex;
  width: 100%;
  padding: 2px;
  align-items: center;
  gap: 5px;
}

.course-display-footer img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.course-display-footer-title {
  font-size: 14px;
}

.course-display-footer p {
  margin: 0;
  font-size: 18px;
}
/* ------------ end ---[course-display-footer]---------------- */

/* ----------- start ---[responsive]---------------- */
@media (max-width: 576px) {
  .course-display-title {
    font-size: 18px !important;
  }
  .course-display-text {
    font-size: 16px !important;
  }
  .course-display-footer p {
    font-size: 15px !important;
  }
}

@media (max-width: 450px) {
  .course-display-card {
    padding: 6px;
    border-radius: 18px;
  }

  .course-display-title {
    font-size: 16px;
  }

  .course-display-text {
    font-size: 12px !important;
    color: #323232;
    align-items: center;
    display: flex;
  }

  .course-display-footer p {
    font-size: 12px !important;
  }

  .course-display-footer img {
    width: 24px;
    height: 24px;
  }
}
/* ------------ end ---[responsive]---------------- */

/* ----------- start ---[utilities]---------------- */
.fw-bold {
  font-weight: bold;
}
/* ------------ end ---[utilities]---------------- */

.course-display-card {
  transition: transform 0.3s ease-in-out;
}

.course-display-card:hover {
  transform: scale(1.008);
}

.course-display-wrapper {
  position: relative;
  overflow: hidden;
}

.course-display-swiper {
  direction: rtl;
  max-width: 610px;
}

.course-display-container {
  margin-right: -100px !important;
}

.swiper-button-prev {
  display: none !important;
}

@media (max-width: 768px) {
  .course-display-swiper {
    max-width: 100%;
    padding: 0px 4px 0 0;
  }

  .course-display-card {
    padding: 3px;
  }

  .course-display-title {
    font-size: 14px !important;
  }

  .course-display-text {
    font-size: 12px !important;
  }

  .course-display-footer p {
    font-size: 12px !important;
  }

  .course-display-footer img {
    width: 24px !important;
    height: 24px !important;
  }
}
