@import "../../variables";

/* ----------- start ---[promo-card]---------------- */
.promo-card {
  position: relative;
  margin: 0 auto;
  background: linear-gradient(
    to right,
    #54bded 0%,
    #61c8f1 50%,
    #54bded 100%
  ) !important;
  height: 200px;
  justify-content: space-between;
  padding: 20px;

  // ----------- start ---[promo-button]----------------
  .promo-button {
    position: absolute;
    left: 2.2%;
    top: 77%;
    transform: translateX(-50%);
    background: white;
    border-radius: 29px;
    border: none;
    color: $primary-color;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 10px 4px 10px !important;
    transition: all 0.3s ease;
  }
  // ------------ end ---[promo-button]----------------

  // ----------- start ---[promo-text]----------------
  .promo-text {
    position: absolute;
    left: 78%;
    top: 50%;
    transform: translate(-50%, -50%);

    .promo-tagline {
      font-size: 35px;
      margin: 0;
      color: #ffffffee;
      font-weight: 200;
    }
    .promo-title {
      font-size: 40px;
      color: white;
      font-weight: 400;
      white-space: nowrap;
    }
  }
  // ------------ end ---[promo-text]----------------

  // ----------- start ---[responsive]----------------
  @media screen and (max-width: 1600px) {
    .promo-button {
      left: 4% !important;
    }
  }

  @media screen and (max-width: 768px) {
    .promo-text {
      position: static;
      transform: none;
      text-align: center;
    }

    .promo-text .promo-tagline {
      font-size: 28px;
    }

    .promo-text .promo-title {
      font-size: 32px;
    }

    .promo-button {
      left: 8% !important;
      top: 77%;
      padding: 4px 4px 0px 4px !important;
      border-radius: 30px !important;
    }
  }

  @media screen and (max-width: 500px) {
    .promo-text {
      position: absolute;
      left: 76%;
      top: 50%;
      transform: translate(-50%, -50%);

      .promo-tagline {
        font-size: 13px;
        margin: 0;
        color: #ffffffee;
        font-weight: 300;
        text-shadow: 1px 1px 1px #ffffff30;
      }
      .promo-title {
        font-size: $font-size-large;
        color: white;
        font-weight: 400;
        white-space: nowrap;
        text-shadow: 2px 2px 2px #ffffff34;
      }
    }
    .promo-button {
      left: 8% !important;
      top: 72%;
      padding: 4px 4px 0px 4px !important;
      border-radius: 50px !important;
    }
  }
  // ------------ end ---[responsive]----------------
}

@media screen and (max-width: 768px) {
  .promo-card {
    max-height: 180px !important;
  }
}
@media screen and (max-width: 450px) {
  .promo-card {
    max-height: 130px !important;
  }
}

/* ------------ end ---[promo-card]---------------- */
