<header class="hero-section">
  <div class="content-wrapper">
    <h1 class="main-heading">دوره فتوشاپ مقدماتی</h1>

    <div class="flex-container">
      <p class="sub-heading light">مدرس</p>
      <p class="highlight-text">محمد شامی</p>
    </div>

    <div class="flex-container">
      <p class="sub-heading light">برگذار کننده</p>
      <p class="highlight-text">جهاد دانشگاهی</p>
    </div>

    <p class="sub-heading more">
      در این دوره قصد داریم از صفر تا صد نرم افزار فتوشاپ رو یاد بگیریم …
    </p>

    <button class="d-flex align-items-center p-2 primary-button spacing-top">
      اطلاعات بیشتر
    </button>
  </div>
</header>
