<div class="container-md mt-4">
  <div class="row">
    
    <div class="col-lg-8 col-12 mb-4 mob-m0">

      <div class="mt-5">
        <img
          class="card-img-top ms-auto"
          src="../../../assets/svg/singlr-page/banner.png"
          alt=""
        />
      </div>

      <div class="card-body mt-5">
        <div class="d-flex flex-wrap card-body-top justify-content-between align-items-center">
          <h4 class="card-title">
            دوره آموزشی آنلاین سبک‌های معماری نرم‌افزار
          </h4>

          <span class="d-flex flex-wrap align-items-center justify-content-center ">
            <img src="../../../assets/svg/singlr-page/neshan.svg" alt="" />
            <img src="../../../assets/svg/singlr-page/telegram.svg" alt="" />
          </span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex card-body-down align-items-center gap-2">
            <img src="../../../assets/svg/singlr-page/map.svg" alt="" />
            <p class="card-text1 m-0">حضوری</p>
            <span class="col-line-sm2"></span>
            <p class="card-text2 m-0">خرمدره</p>
          </div>
          <button class="custom-primary-btn farhangi-btn">فرهنگی و هنری</button>
        </div>
      </div>


    </div>

    <div class="col-lg-8 col-md-12 mb-4 order-3">
      <app-title-describe></app-title-describe>

      <app-teacher-card></app-teacher-card>
      <app-precourse-card></app-precourse-card>

      <app-course-schedule></app-course-schedule>

      <app-faq-card></app-faq-card>

      <div class="d-flex flex-wrap align-items-center gap-3 mt-4">
        <p class="m-0">برچسب ها</p>
        <div class="d-flex gap-2">
          <button class="custom-primary-btn search-btn ">دوره فتوشاپ</button>
          <button class="custom-primary-btn search-btn ">سمینار مدیریت</button>
          <button class="custom-primary-btn search-btn ">وبینار کسب و کار</button>
        </div>
      </div>
      
    </div>

    <div class="col-lg-4 col-md-12 secound-col max-h">
      <div class="mob-combine">
        <app-sponser></app-sponser>

        <app-calender></app-calender>
      </div>

      <app-cost-card></app-cost-card>
    </div>
  </div>
</div>

<div class="section-header">
  <div class="header-title">
    <img src="../../../assets/svg/landing-page/uni-hat.svg" alt="" />
    <p class="m-0">جدیدترین دوره‌ها</p>
  </div>
    <button class="custom-primary-btn see-btn ">مشاهده همه</button>
</div>

<app-landing-course-card></app-landing-course-card>

<div class="section-header">
  <div class="header-title">
    <img src="../../../assets/svg/landing-page/medal.svg" alt="" />

    <p class="m-0">چرا زنجان ایونت؟</p>
  </div>
</div>

<app-landing-event-card></app-landing-event-card>
