<section class="container-fluid my-5">
  <div class="search-section text-center row justify-content-center">
    <div class="col-xl-5 col-md-8 col-11">
      <h4>به دنبال رویداد خاصی هستید؟</h4>
      <input
        type="text"
        placeholder="جستجو کنید"
        class="w-100 search-field mt-4"
      />
      <div
        class="d-flex m-auto align-items-center justify-content-center gap-4 mt-4 flex-wrap-container"
      >
        <p class="my-auto">جستجو های پر طرفدار</p>
        <div class="d-flex gap-3">
          <button class="secondary-button p-1 px-3">دوره فتوشاپ</button>
          <button class="secondary-button p-1 px-3">سمینار مدیریت</button>
          <button class="secondary-button p-1 px-3">وبینار کسب و کار</button>
        </div>
      </div>
    </div>
  </div>
</section>
