<header class="hero-section">
  <div class="content-wrapper">
    <h1 class="main-heading">دوره فتوشاپ مقدماتی</h1>

    <div class="flex-container">
      <p class="sub-heading light">مدرس</p>
      <p class="highlight-text">محمد شامی</p>
    </div>

    <div class="flex-container">
      <p class="sub-heading light">برگزار کننده</p>
      <p class="highlight-text">جهاد دانشگاهی</p>
    </div>

    <p class="sub-heading more">
      در این دوره قصد داریم از صفر تا صد نرم‌افزار فتوشاپ را یاد بگیریم …
    </p>

    <button class="d-flex align-items-center custom-not-primary-btn more-btn">
      اطلاعات بیشتر
    </button>
  </div>
</header>
