    <div class="table-container">
      <div class="tablebox">
        <div *ngFor="let table of tables; let i = index" class="table-wrapper">
          <h3 >Level {{ i }}</h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="th-id"> ID </th>
                <th class="th-name">Name</th>
                <th class="th-action">Action</th>
              </tr>
            </thead>
            <tbody class="tbody">
              <tr
                *ngFor="let item of table"
              >
                <td [ngClass]="{ selected: isExpanded(item.id) } " >
                  {{ item.id }}
                </td>
                <td [ngClass]="{ selected: isExpanded(item.id) }">
                  {{ item.name }}
                </td>
                <td [ngClass]="{ selected: isExpanded(item.id) }">
                  <div
                    *ngIf="item.children && item.children.length > 0"
                    (click)="handleToggle(item, i)"
                    class="toggle-icon"
                  >
                  {{ isExpanded(item.id) ? '-' : '+' }}
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>