<div class="mt-4">
  <div class="instructor-card">
    <div class="section-title mb-2">مدرس دوره</div>
    <div class="instructor d-flex align-items-center p-2">
      <img src="../../../../assets/svg/teacher-card/profile.svg" alt="" />

      <div class="text-container">
        <strong>محمد شامی</strong>
        <p class="text-muted m-0">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
        </p>
      </div>
    </div>
    <span class="underline-full"></span>

    <div class="instructor d-flex align-items-center p-2">
      <img src="../../../../assets/svg/teacher-card/profile.svg" alt="" />
      <div class="text-container">
        <strong>محمد شامی</strong>
        <p class="text-muted m-0">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
        </p>
      </div>
    </div>
  </div>
</div>
