@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: 'Vazirmatn', sans-serif;
  height: 100%;
}


.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #005c6f19 transparent;
  padding-bottom: 15px;
}

.scroll-container::-webkit-scrollbar {
  height: 4px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #eb0303;
  border-radius: 3px;
}
