.footer {
  background-color: #52b9ec;
  color: #ffffff;
}

.footer-header {
  display: flex;
}

.logo-footer {
  p {
    font-size: 14px;
  }
  @media (max-width: 768px) {
    padding: 15px !important;
  }
}

.search input {
  width: 95%;
  padding: 5px 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
}

.underline {
  display: inline-block;
  background: #fdfdfdde;
  height: 1px;
  width: 100%;
}

@media (max-width: 420px) {
  .list-col {
    margin-top: 20px;
  }
  .footer-cols {
    margin: 0 !important;
    li {
      font-size: 16px !important;
    }
    p {
      font-size: 16px;
    }
  }

  .logo-footer {
    p {
      font-size: 12px !important;
    }
  }
}

.footer-body {
  position: relative;
  .footer-cols {
    flex-wrap: wrap;

    li {
      font-size: 20px;
    }
    ul {
      padding-right: 20px;
    }
    .list-col {
      width: 100%;
      z-index: 10;
    }
    p {
      font-size: 20px;
    }
  }
}

.input-desplay {
  justify-content: end;
  @media (max-width: 768px) {
    justify-content: center !important;
    margin-bottom: 20px;
  }
}

.bg-logo {
  position: absolute;
  bottom: -10%;
  opacity: 0.05;
  left: 1%;
  z-index: -1;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.icons {
  @media (max-width: 768px) {
    justify-content: center !important;
    margin-bottom: 20px;
    width: 100%;
  }
}

.footer-cols {
  position: relative;
  z-index: 2;
}

.icons svg {
  transition: fill 0.3s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;
}

.icons svg:hover {
  fill: #ffcc00;
  transform: scale(1.1);
}

.list-col ul li {
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.list-col ul li:hover {
  color: #ffcc00;
}
